<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stealth.android" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_stealth_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.stealth.android.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sharing.APSharing.APAppSharingActivity"
            android:label="@string/hotspot_app_sharing"
            android:theme="@style/Theme.Transparent"/>
        <activity android:name="sharing.APSharing.ServerStatusActivity"
            android:label="Server Status"
            android:theme="@style/AppTheme"/>
        <service android:name="sharing.APSharing.HttpServerService"
            android:label="@string/http_service"/>

    </application>

</manifest>
